.container div {
    float: left;
    clear: none;
}

.cars-container{
    background-color: #FBFCFD;
    width: 1800px;
    margin-left: -240px;
    margin-top: 50px;
}

.overview-card{
    max-width: 1500px;
    min-height: 800px;
    height: fit-content;
    margin-left: 300px;
    overflow: hidden;
}

.card-title{
    font-size: 30px;
    font-weight: 550;
    margin-bottom: 30px;
}

table {
    width: 100%;
}

.add-client-button{
    float: right;
    margin-top: -6%;
}