<h2 mat-dialog-title>Create New Garage</h2>
<mat-dialog-content>
    <form class="create-garage-form">
        <div>
            <mat-form-field class="dialog-full-label" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="garage.name" name="name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="dialog-full-label" appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput [(ngModel)]="garage.address" name="address">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="dialog-split-label-left" appearance="fill">
                <mat-label>City</mat-label>
                <input matInput [(ngModel)]="garage.city" name="city">
            </mat-form-field>
            <mat-form-field class="dialog-split-label-right" appearance="fill">
                <mat-label>ZIP</mat-label>
                <input matInput [(ngModel)]="garage.zip" name="zip">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="dialog-full-label" appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input matInput [(ngModel)]="garage.phonenumber" name="phonenumber">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="cancel()">CANCEL</button>
    <button mat-flat-button mat-dialog-close (click)="create()" color="primary">CREATE</button>
</mat-dialog-actions>
