.edit-garage-form{
    min-width: 500px;
    max-width: 1000px;
    width: 100%;
}

.dialog-full-label{
    width: 100%;
}

.dialog-split-label-left{
    float: left;
    width: 47.5%;
}

.dialog-split-label-right{
    float: right;
    width: 47.5%;
}