<div class="container">
    <div class="content">
        <div class="login-headers">
            <h1 class="mat-display-2">Login</h1>
            <h2 class="mat-subheading-1 login-sub-text">Login to access your account</h2>
        </div>
    
        <form class="login-form">
            <mat-form-field class="login-full-width" appearance="fill">
                <mat-label>Email Address</mat-label>
                <input matInput>
            </mat-form-field>
    
            <mat-form-field class="login-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput>
            </mat-form-field>
            <h5 class="mat-subheading-1 password-sub-text">Password must contain at least 6 characters</h5>
        </form>
    
        <div class="login-buttons">
            <div>
                <mat-checkbox>Remember me</mat-checkbox>
            </div>
            <div class="login-button">
                <button mat-flat-button color="primary">LOGIN</button>
            </div>
            <div class="forgot-password-button">
                <button mat-button color="primary">FORGOT PASSWORD?</button>
            </div>
        </div>
    
        <div class="register">
            <div class="no-account">
                <h4 class="mat-subheading-1">Don't have an account?</h4>
            </div>
            <div class="sign-up-button">
                <button mat-button color="primary">SIGN UP</button>
            </div>
        </div>
    </div>
</div>