<h2 mat-dialog-title>Edit Client</h2>
<mat-dialog-content class="edit-client-dialog">
    <form class="edit-client-form" [formGroup]="clientForm" (ngSubmit)="update()">
        <div>
            <mat-form-field class="dialog-full-label" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" name="firstName">
                <mat-error *ngIf="clientForm.get('firstName')?.hasError('required')">
                    This field is required.
                </mat-error>
                <mat-error *ngIf="clientForm.get('firstName')?.hasError('pattern')">
                    Please enter a valid First Name.
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="dialog-full-label" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" name="lastName">
                <mat-error *ngIf="clientForm.get('lastName')?.hasError('required')">
                    This field is required.
                </mat-error>
                <mat-error *ngIf="clientForm.get('lastName')?.hasError('pattern')">
                    Please enter a valid Last Name.
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="dialog-full-label" appearance="fill">
                <mat-label>Date of Birth</mat-label>
                <input #dob matInput (dateChange)="validateDOB(dob.value)" [matDatepicker]="myDatePicker" formControlName="dateOfBirth" name="dateOfBirth">
                <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatePicker></mat-datepicker>
                <mat-error *ngIf="clientForm.get('dateOfBirth')?.hasError('pattern')">
                    Please enter a valid Date of Birth.
                </mat-error>
                <mat-error *ngIf="clientForm.get('dateOfBirth')?.hasError('age')">
                    The age of the Client must be at least 18.
                </mat-error>
                <mat-error *ngIf="clientForm.get('dateOfBirth')?.hasError('required')">
                    This field is required.
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="dialog-full-label" appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" name="address" placeholder="Juan León Mera, 19-36, Av. Patria">
                <mat-error *ngIf="clientForm.get('address')?.hasError('required')">
                    This field is required.
                </mat-error>
                <mat-error *ngIf="clientForm.get('address')?.hasError('pattern')">
                    Please enter a valid Address.
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="dialog-full-label" appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input matInput (keyup)="transformPhoneNumber($event)" formControlName="phoneNumber" name="phoneNumber" placeholder="4 123 4567">
                <span matPrefix>+593&nbsp;</span>
                <mat-error *ngIf="clientForm.get('phoneNumber')?.hasError('required')">
                    This field is required.
                </mat-error>
                <mat-error *ngIf="clientForm.get('phoneNumber')?.hasError('pattern')">
                    Please enter a valid Phone Number.
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="dialog-full-label" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" name="email">
                <mat-error *ngIf="clientForm.get('email')?.hasError('required')">
                    This field is required.
                </mat-error>
                <mat-error *ngIf="clientForm.get('email')?.hasError('pattern')">
                    Please enter a valid Email.
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <button mat-button type="reset" (click)="cancel()">CANCEL</button>
            <button mat-flat-button type="submit" color="primary">UPDATE</button>
        </div>
    </form>
</mat-dialog-content>